*, ::after, ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

/* Colour Palette */
.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.orange {
    background-color: orange;
}
.green {
    background-color: green;
}
.purple {
    background-color: purple;
}
.light-gray {
    background-color: lightgray;
}
.dark-gray {
    background-color: darkgray;
}



body {
    font-family: sans-serif;
    background-color: white;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

/* HEADER */
.nav {
    position: relative;
}

.nav .ul {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    margin: 1rem;
}

.ul .list {
    list-style: none;
    cursor: pointer;
    font-size: calc(1rem + 2px);
}

.list:hover{
    border-bottom: 2px solid blue;   
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    left: 90%;
    top: 0;
    cursor: pointer;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.icon.show {
    display: flex;
}

.icon-img {
    width: 30px;
    height: 30px;  
}

.icon:hover{
    background-color: rgb(86, 86, 248);
    color: white;
}


.alert-circle {
    background-color: red;
    height: 15px;
    width: 15px;
    position: absolute;
    left: 89.9%;
    top: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.alert-circle.show{
    display: flex;
}

.alert-num {
    color: white;
    font-size: 12px;
}

/* SECTION */

.section {
    margin: 3.5rem 2.5rem;
    position: relative;
}

/* Parent Div */

.parent-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 2rem;
}

.colour-card {
    width: 240px;
    height: 280px;
    border: 1px solid black;
    position: relative;
    border-radius: 3px;
    border: none;
}

.colour-frame {
    width: 100%;
    height: 160px;
    border-radius: 3px;
}

.colour-class {
    color: #707070;
    margin: 10px 0;
}

.colour-name {
    font-weight: 700;
}

.price {
    margin: 10px 0;
    color: #707070;
}

button {
    background-color: rgb(76, 76, 236);
    color: #fff;
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 5px;
    float: right;
    margin-top: -20%;
    cursor: pointer;
}

button:hover {
    background-color: blue;
}


/* RESPONSIVE DESIGN */

@media (max-width:500px) {
    .colour-card {
        width: 100%;
    } 
}



